<div gdAreas="header | content | footer " gdGap="16px" gdRows="auto auto auto">
  <div gdArea="header">
    <div style="text-align: center">
      <h1>
        <a mat-list-item routerLink="/">
          Teste <span style="color: green;">Localiza</span>
        </a>
      </h1>
    </div>
  </div>

  <div gdArea="content">
    <router-outlet></router-outlet>
  </div>

  <div gdArea="footer">
    <div style="text-align: left !important">
      Autor: João Paulo Medina Passos
    </div>
  </div>
</div>